<link rel="stylesheet" href="css/footer.css" />
<footer>
  <p>
    Made with <span class="heart">â¤</span> by
    <a href="https://github.com/saltx">Saahil</a>
  </p>
</footer>

<!-- TODO: debug only, remove later -->
<h2>Session Data</h2>
<pre
  style="
    background-color: black;
    color: lightgreen;
    font-family: Courier, monospace;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: scroll;
  "
>
<%= JSON.stringify(session, null, 2) %></pre
>
