<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resources</title>
    <link rel="stylesheet" href="/css/resources.css" />
  </head>
  <body>
    <%- include('partials/nav') %>

    <h1>Resources</h1>
    <h4>Import templates</h4>
    Download import templates for the following file formats: <% let fileFormats
    = ['XML', 'XLS', 'JSON', 'CSV'] %> <% fileFormats.forEach((fileFormat) => {
    %>
    <a href="/resources/download/<%= fileFormat %>"><%= fileFormat %></a>
    <% }) %>

    <h4>Reports</h4>
    <a href="/resources/reports/trips">Download reports on trips</a>
    <%- include('partials/footer') %>
  </body>
</html>
