<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resources</title>
    <link rel="stylesheet" href="/css/resources.css" />
    <link rel="stylesheet" href="/css/nav.css" />
  </head>
  <body>
    <%- include('partials/nav') %>

    <h1>Resources</h1>
    <h4>Import templates</h4>
    <ul>
      <li>
        Download XML import template
        <ul>
          <li><a href="">Students</a></li>
          <li><a href="">Overseas Programs</a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </li>
    </ul>

    <h4>Reports</h4>

    <%- include('partials/footer') %>
  </body>
</html>
