/* Reset default margins and paddings */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Center the content horizontally */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
}

/* Set a maximum width for the content */
.container {
  max-width: 1200px;
  padding: 20px;
  width: 100%; /* This allows container to be responsive */
  box-sizing: border-box;
}

/* Style the header */
h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Style the KPI overview section */
#KPI-overview {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  flex-wrap: wrap;
}

/* Style each KPI box */
#KPI-overview > div {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 60%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

#KPI-overview h2 {
  font-size: 2em; /* Using em makes font size responsive */
  margin-bottom: 10px;
}

#KPI-overview p {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

/* Style the footer */
footer {
  margin-top: 40px;
  text-align: center;
  color: #666;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
  .container {
    padding: 10px;
  }

  #KPI-overview > div {
    width: 80%;
  }

  h1 {
    font-size: 2em;
  }

  #KPI-overview h2 {
    font-size: 1.5em;
  }

  #KPI-overview p {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  #KPI-overview > div {
    width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }

  #KPI-overview h2 {
    font-size: 1.2em;
  }

  #KPI-overview p {
    font-size: 0.8em;
  }
  .chartjs-plugin-datalabels {
    font-size: 12px;
  }

  @media (max-width: 480px) {
    .chartjs-plugin-datalabels {
      font-size: 10px;
    }
  }
}
