body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Adjust alignment as needed */
    min-height: 100vh;
    margin: 0; /* Reset default margin */
  }
  
  h1,
  h4,
  ul {
    text-align: center;
    font-size: 30px; /* Adjust the font size as desired */
  }
  
  ul li {
    font-size: 24px; /* Adjust the font size as desired */
  }
  