table {
  border-collapse: collapse;
  width: calc(100% + 50px);
  max-width: 850px;
  margin: 0 auto;
}

/* Table cells */
th,
td {
  border: 2px solid black;
  padding: 10px;
  text-align: left;
  font-size: 16px;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Container for the table with scrollbar */
.table-container {
  max-height: 450px;
  overflow-y: auto;
  margin: 20px auto;
  text-align: center;
}

/* Center the sort and search section */
#sort-search {
  text-align: center;
  margin-bottom: 40px;
}

/* Center the "Students" heading */
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-container label {
  margin: 5px;
  display: flex;
  align-items: center;
}

.checkbox-title {
  margin-right: 10px;
}

/* Import and export section */
#import-export {
  text-align: center;
  margin-bottom: 20px;
}

.export-button {
  margin-top: 10px;
}

/* Sort by */
#sort-select,
#sort-select option {
  font-size: 24px;
}

/* Search */
#search-input,
#search-button {
  font-size: 24px; /* Increase the font size for Search */
}

/* Footer */
#footer {
  text-align: center;
  margin-top: 20px;
}

/* Increase font size for Sort by */
#sort-search label[for="sort-select"] {
  font-size: 24px;
}

/* Increase font size for Search */
#sort-search label[for="search-input"],
#sort-search button#search-button {
  font-size: 24px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  td {
    font-size: 14px; /* Reduce font size for table cells on smaller screens */
  }

  #sort-search label[for="sort-select"],
  #sort-search label[for="search-input"],
  #sort-search button#search-button {
    font-size: 18px;
  }
}
