<h2>Overseas programs controls</h2>

<table class="checkbox-table">
  <tr>
    <th>Program Type</th>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="program-type-checkbox"
          data-type="Overseas educational trip"
          checked
        />
        Overseas educational trip
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="program-type-checkbox"
          data-type="Overseas internship program"
          checked
        />
        Overseas internship program
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="program-type-checkbox"
          data-type="Overseas immersion program"
          checked
        />
        Overseas immersion program
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="program-type-checkbox"
          data-type="Overseas Competition/Exchange"
          checked
        />
        Overseas Competition/Exchange
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="program-type-checkbox"
          data-type="Overseas Leadership Training"
          checked
        />
        Overseas Leadership Training
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="program-type-checkbox"
          data-type="Overseas Leadership Training with Outward Bound"
          checked
        />
        Overseas Leadership Training with Outward Bound
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="program-type-checkbox"
          data-type="Overseas Service Learning-Youth Expedition Programme"
          checked
        />
        Overseas Service Learning-Youth Expedition Programme
      </label>
    </td>
  </tr>
</table>

<!-- add a select box for countries and get countries from /api/countries and also make the countries select box searchable -->
<div class="form-group">
  <label for="country-select">Country</label>
  <select
    class="form-control"
    id="country-select"
    name="country"
    data-live-search="true"
  >
    <option value="">All</option>
  </select>

  <script src="/js/overseasprograms.js" defer></script>
</div>
