<h3>Student controls</h3>

<table class="checkbox-table">
  <tr>
    <th>Study Stage</th>
    <th>Citizenship Status</th>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="study-stage-checkbox" data-stage="1" checked />
        Year 1
      </label>
    </td>
    <td>
      <label>
        <input
          type="checkbox"
          class="citizenship-checkbox"
          data-status="Singapore citizen"
          checked
        />
        Singapore citizen
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="study-stage-checkbox" data-stage="2" checked />
        Year 2
      </label>
    </td>
    <td>
      <label>
        <input
          type="checkbox"
          class="citizenship-checkbox"
          data-status="Permanent resident"
          checked
        />
        Permanent resident
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="study-stage-checkbox" data-stage="3" checked />
        Year 3
      </label>
    </td>
    <td>
      <label>
        <input
          type="checkbox"
          class="citizenship-checkbox"
          data-status="International Student"
          checked
        />
        International student
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="study-stage-checkbox" data-stage="4" checked />
        Year 4
      </label>
    </td>
    <td></td>
  </tr>
</table>

<h3>Course</h3>
<table class="checkbox-table">
  <tr>
    <td>
      <label>
        <input type="checkbox" class="course-checkbox" data-course="Biomedical Engineering" checked />
        Biomedical Engineering
      </label>
    </td>
    <td>
      <label>
        <input type="checkbox" class="course-checkbox" data-course="Aeronautical & Aerospace Technology" checked />
        Aeronautical & Aerospace Technology
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="course-checkbox" data-course="Aerospace Systems & Management" checked />
        Aerospace Systems & Management
      </label>
    </td>
    <td>
      <label>
        <input type="checkbox" class="course-checkbox" data-course="Nanotechnology & Materials Science" checked />
        Nanotechnology & Materials Science
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="course-checkbox" data-course="Engineering with Business" checked />
        Engineering with Business
      </label>
    </td>
    <td>
      <label>
        <input type="checkbox" class="course-checkbox" data-course="Robotics & Mechatronics" checked />
        Robotics & Mechatronics
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="course-checkbox" data-course="Electronic & Computer Engineering" checked />
        Electronic & Computer Engineering
      </label>
    </td>
    <td>
      <label>
        <input type="checkbox" class="course-checkbox" data-course="Infocomm & Media Engineering" checked />
        Infocomm & Media Engineering
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="course-checkbox" data-course="Advanced & Digital Manufacturing" checked />
        Advanced & Digital Manufacturing
      </label>
    </td>
    <td>
      <label>
        <input type="checkbox" class="course-checkbox" data-course="Common Engineering Programme" checked />
        Common Engineering Programme
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="course-checkbox" data-course="AI & Data Engineering" checked />
        AI & Data Engineering
      </label>
    </td>
    <td></td>
  </tr>
</table>


<script src="/js/student.js" defer></script>

