<h2>Student controls</h2>

<table class="checkbox-table">
  <tr>
    <th>Study Stage</th>
    <th>Citizenship Status</th>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="study-stage-checkbox"
          data-stage="1"
          checked
        />
        Year 1
      </label>
    </td>
    <td>
      <label>
        <input
          type="checkbox"
          class="citizenship-checkbox"
          data-status="Singapore citizen"
          checked
        />
        Singapore citizen
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="study-stage-checkbox"
          data-stage="2"
          checked
        />
        Year 2
      </label>
    </td>
    <td>
      <label>
        <input
          type="checkbox"
          class="citizenship-checkbox"
          data-status="Permanent resident"
          checked
        />
        Permanent resident
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="study-stage-checkbox"
          data-stage="3"
          checked
        />
        Year 3
      </label>
    </td>
    <td>
      <label>
        <input
          type="checkbox"
          class="citizenship-checkbox"
          data-status="International Student"
          checked
        />
        International student
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="study-stage-checkbox"
          data-stage="4"
          checked
        />
        Year 4
      </label>
    </td>
    <td></td>
  </tr>
</table>

<h3>Course</h3>
<table class="checkbox-table">
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="course-checkbox"
          data-course="EGDF09"
          checked
        />
        EGDF09
      </label>
    </td>
    <td>
      <label>
        <input
          type="checkbox"
          class="course-checkbox"
          data-course="EGDF11"
          checked
        />
        EGDF11
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="course-checkbox"
          data-course="EGDF12"
          checked
        />
        EGDF12
      </label>
    </td>
    <td>
      <label>
        <input
          type="checkbox"
          class="course-checkbox"
          data-course="EGDF13"
          checked
        />
        EGDF13
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="course-checkbox"
          data-course="EGDF17"
          checked
        />
        EGDF17
      </label>
    </td>
    <td>
      <label>
        <input
          type="checkbox"
          class="course-checkbox"
          data-course="EGDF19"
          checked
        />
        EGDF19
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="course-checkbox"
          data-course="EGDF20"
          checked
        />
        EGDF20
      </label>
    </td>
    <td>
      <label>
        <input
          type="checkbox"
          class="course-checkbox"
          data-course="EGDF21"
          checked
        />
        EGDF21
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="course-checkbox"
          data-course="EGDF22"
          checked
        />
        EGDF22
      </label>
    </td>
    <td>
      <label>
        <input
          type="checkbox"
          class="course-checkbox"
          data-course="EGDF94"
          checked
        />
        EGDF94
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input
          type="checkbox"
          class="course-checkbox"
          data-course="EGDFPA"
          checked
        />
        EGDFPA
      </label>
    </td>
    <td></td>
  </tr>
</table>
<script src="/js/students.js"></script>
