<h3>Trip controls</h3>

<table class="checkbox-table">
  <tr>
    <th>Study Stage</th>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="study-stage-checkbox" data-stage="1" checked />
        Year 1
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="study-stage-checkbox" data-stage="2" checked />
        Year 2
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="study-stage-checkbox" data-stage="3" checked />
        Year 3
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <input type="checkbox" class="study-stage-checkbox" data-stage="4" checked />
        Year 4
      </label>
    </td>
    <td></td>
  </tr>
</table>


